*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  font-size: 1em;
  color: #fff;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
img {
  max-width: 100%;
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url(../fonts/Montserrat-Light.ttf);
}
@font-face {
  font-family: 'Montserrat-Thin';
  src: url(../fonts/Montserrat-Thin.ttf);
}
@font-face {
  font-family: 'Montserrat-Medium';
  src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: url(../fonts/Montserrat-Bold.ttf);
}
@font-face {
  font-family: 'Pobeda';
  src: url(../fonts/pobeda-regular1.ttf);
}
body {
  font-family: 'Montserrat-Regular', sans-serif;
  background: #000 url(../img/bodybg2.png) center;
  position: relative;
}
.container {
  max-width: 1200px;
  padding: 0px 20px;
  margin: 0px auto;
}
a.button {
  background: linear-gradient(90deg, #c6b899, #a99d82);
  position: relative;
}
button.button {
  background: linear-gradient(90deg, #c6b899, #a99d82);
  border: none;
  width: 325px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat-Medium', sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  cursor: pointer;
}
input.text {
  border: none;
  width: 325px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1em;
  font-family: 'Montserrat-Regular', sans-serif;
  text-align: center;
  background: #f5f5f5;
  color: #000;
  outline: none;
}
.header {
  padding: 40px 0px;
  background: #000;
}
.header__wrapper {
  display: flex;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
}
.header__logo img {
  margin-right: 30px;
}
.header__logo span {
  display: block;
  max-width: 140px;
  font-size: 10px;
  font-family: 'Montserrat-Medium', sans-serif;
  text-transform: uppercase;
}
.header__phone {
  margin-left: auto;
}
.header__phone a {
  padding: 20px 50px 20px 80px;
  background: linear-gradient(90deg, #c6b899, #a99d82);
  position: relative;
}
.header__phone a:after {
  content: '';
  width: 16px;
  height: 16px;
  background: url(../img/icons/phone.png) no-repeat center;
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
}
.main {
  background: url(../img/mainbg.jpg) no-repeat center;
  background-size: cover;
}
.main__wrapper {
  min-height: 700px;
  position: relative;
}
.main h1 {
  padding-top: 150px;
  font-family: 'Montserrat-Thin', sans-serif;
  font-size: 54px;
  max-width: 500px;
  line-height: 76px;
}
.main h1 span {
  font-family: 'Montserrat-Light', sans-serif;
}
.main h2 {
  font-family: 'Montserrat-Light', sans-serif;
  font-size: 32px;
  color: #c6b899;
  margin-top: 20px;
  line-height: 46px;
}
.main .circle {
  position: absolute;
  bottom: -60px;
  left: 0;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  background: #c6b899;
  font-family: 'Montserrat-Medium', sans-serif;
  font-size: 13px;
}
.main span.trigger {
  display: inline-block;
  width: 25px;
  position: absolute;
  transform: translate(47px, 52px) rotate(var(--rot)) translate(0, -80px);
}
.nav {
  margin-top: 150px;
}
.nav__wrapper ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav__wrapper ul li a {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: none;
  border: 1px solid #c6b899;
  width: 190px;
  height: 90px;
  text-transform: uppercase;
  font-family: 'Montserrat-Medium', sans-serif;
  font-size: 10px;
  padding: 0px 40px;
}
.nav__wrapper ul li:nth-child(5) button {
  position: relative;
  width: 240px;
  padding: 0px 40px 0px 80px;
  text-align: left;
}
.nav__wrapper ul li:nth-child(5) button:after {
  content: '';
  width: 22px;
  height: 22px;
  background: url(../img/icons/protection.png) no-repeat center;
  position: absolute;
  left: 40px;
  top: 50%;
  transform: translateY(-50%);
}
.advantage {
  margin-top: 250px;
  margin-bottom: 340px;
}
.advantage__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}
.advantage__cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  align-items: start;
  justify-content: center;
  grid-column-gap: 130px;
  grid-row-gap: 30px;
}
.advantage__card {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  font-size: 14px;
  line-height: 28px;
}
.advantage__card img {
  display: block;
  margin-bottom: 20px;
}
.advantage__banner {
  margin-left: 90px;
  height: 280px;
  background: linear-gradient(90deg, #c6b899, #a99d82);
  padding: 0px 70px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
}
.advantage__banner-num {
  font-family: 'Pobeda', sans-serif;
  font-size: 240px;
}
.advantage__banner-text {
  font-family: 'Montserrat-Light', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  max-width: 130px;
  line-height: 28px;
}
.advantage__banner-text span {
  font-size: 14px;
  display: block;
  margin-top: 30px;
  line-height: 22px;
}
.manager {
  background: url(../img/managerbg.png) no-repeat center;
  background-size: cover;
  margin-bottom: 140px;
}
.manager__wrapper {
  min-height: 900px;
  display: grid;
  grid-template-columns: 40% 60%;
}
.manager__info {
  margin-top: 350px;
}
.manager__info h3 {
  font-family: 'Montserrat-Light', sans-serif;
  font-size: 36px;
  line-height: 50px;
}
.manager__info h3 span {
  font-size: 29px;
  color: #c6b899;
  font-family: 'Montserrat-Medium', sans-serif;
}
.manager__info a.button {
  width: 400px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Montserrat-Medium', sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  padding: 0px 100px 0px 60px;
  margin-top: 80px;
}
.manager__info a.button:before {
  content: '';
  width: 19px;
  height: 17px;
  background: url(../img/icons/comments.png) no-repeat center;
  position: absolute;
  right: 80px;
  top: 50%;
  transform: translateY(-50%);
}
.manager__image {
  background: url(../img/manager.png) no-repeat 0% 100%;
  position: relative;
}
.manager__bage {
  padding: 20px 30px;
  background: #fff;
  display: inline-block;
  border-radius: 15px;
  position: absolute;
  bottom: 260px;
  left: 140px;
}
.manager__bage span {
  color: #000;
  display: block;
  text-transform: uppercase;
}
.manager__bage span.name {
  font-size: 12px;
  font-family: 'Montserrat-Medium', sans-serif;
}
.manager__bage span.worker {
  font-size: 10px;
}
.manager__bage:after {
  content: '';
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: #c6b899;
  position: absolute;
  left: -7.5px;
  top: 50%;
  transform: translateY(-50%);
}
.manager .shild {
  width: 160px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.manager .shild__content {
  display: inline-block;
  height: 200px;
  background: linear-gradient(90deg, #c6b899, #a99d82);
  padding: 50px 30px 30px 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.manager .shild__bottom {
  background: linear-gradient(90deg, #c6b899, #a99d82);
  height: 30px;
  border-radius: 0px 0px 50% 50%;
}
.manager .shild img {
  margin-bottom: 20px;
}
.manager .shild span {
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
}
.manager .shild:before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5), -5px -5px 20px rgba(0, 0, 0, 0.5);
}
.house h3 {
  font-size: 54px;
  text-transform: uppercase;
  margin-bottom: 100px;
}
.house h3 span {
  color: #c6b899;
  display: inline-block;
  margin-right: 20px;
}
.house__wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 40px;
  grid-row-gap: 100px;
}
.house__box {
  border: 1px solid #c6b899;
}
.house__box-top {
  position: relative;
  overflow: hidden;
}
.house__box-image {
  position: relative;
  cursor: pointer;
}
.house__box-image img {
  display: block;
}
.house__box-image .image-line {
  background: linear-gradient(90deg, #c6b899, #a99d82);
  display: inline-block;
  padding: 25px 30px;
  position: absolute;
  font-size: 16px;
  pointer-events: none;
}
.house__box-image .image-line span.name {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
  font-family: 'Montserrat-Medium', sans-serif;
}
.house__box-image .image-line:nth-child(2) {
  top: 35px;
  left: 0;
}
.house__box-image .image-line:nth-child(3) {
  bottom: 45px;
  right: 0;
}
.house__box-bottom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto;
}
.house__box-char {
  border-left: 1px solid #c6b899;
  border-bottom: 1px solid #c6b899;
  height: 140px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.house__box-char span.area,
.house__box-char span.price {
  font-size: 14px;
  position: relative;
}
.house__box-char span.area:after,
.house__box-char span.price:after {
  content: '';
  width: 24px;
  height: 22px;
  position: absolute;
  left: -35px;
  top: 50%;
  transform: translateY(-50%);
}
.house__box-char span.area:after {
  background: url(../img/icons/crop-rec.png) no-repeat center;
}
.house__box-char span.price:after {
  background: url(../img/icons/credit-card.png) no-repeat center;
}
.house__box-char span.char {
  display: block;
  font-family: 'Montserrat-Medium', sans-serif;
  font-size: 16px;
  color: #c6b899;
  margin-top: 5px;
}
.house__box-char:nth-child(1) {
  border-left: none;
}
.house__box-btn {
  height: 260px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  grid-column-start: span 2;
}
.house__box-btn a.button {
  width: 320px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 10px;
}
.house__box-btn a.online {
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 10px;
  display: block;
  margin-top: 30px;
}
.house__box-info {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(90deg, #c6b899, #a99d82);
  padding: 60px 70px;
  color: #000;
  font-family: 'Montserrat-Light', sans-serif;
  font-size: 14px;
  transform: translateX(-100%);
  transition: 0.3s all linear;
  pointer-events: none;
}
.house__box-info span.name {
  display: block;
  font-family: 'Montserrat-Medium', sans-serif;
  color: #000;
  margin-bottom: 30px;
}
.show {
  transform: translateX(0%);
}
.contacts {
  position: relative;
  background: url(../img/dustbg.png) center;
}
.contacts img:nth-child(2) {
  position: absolute;
  bottom: 0;
  left: 0;
}
.contacts img:nth-child(3) {
  position: absolute;
  bottom: 0;
  right: 0;
}
.contacts__wrapper {
  min-height: 1100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contacts__wrapper h3 {
  font-size: 36px;
  line-height: 52px;
  font-family: 'Montserrat-Light', sans-serif;
  text-align: center;
  max-width: 600px;
  margin-bottom: 100px;
  position: relative;
  z-index: 3;
}
.contacts__wrapper h3 span {
  display: block;
  font-family: 'Montserrat-Regular', sans-serif;
  color: #b3a483;
}
.contacts__content {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 3;
}
.contacts__content .shild {
  width: 160px;
  position: relative;
  margin: 0px 105px;
}
.contacts__content .shild__content {
  display: inline-block;
  height: 200px;
  background: linear-gradient(90deg, #e8e8e8, #f4f4f4);
  padding: 50px 10px 30px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contacts__content .shild__bottom {
  background: linear-gradient(90deg, #e8e8e8, #f4f4f4);
  height: 30px;
  border-radius: 0px 0px 50% 50%;
}
.contacts__content .shild img {
  margin-bottom: 20px;
}
.contacts__content .shild span {
  color: #000;
  text-align: center;
  text-transform: uppercase;
  font-size: 12px;
}
.contacts__content .shild:before {
  content: '';
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #fff;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.5), -5px -5px 20px rgba(0, 0, 0, 0.5);
}
.contacts__image {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: url(../img/bottombg.png) no-repeat center bottom;
  background-size: cover;
}
.quiz {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
}
.quiz__body {
  width: 1160px;
  height: 600px;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.quiz__qestions {
  height: 100%;
  width: 780px;
  background: #fff;
  padding: 30px 70px;
  position: relative;
  overflow: hidden;
}
.quiz__qestions h4,
.quiz__qestions p {
  color: #000;
}
.quiz__qestions h4 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-size: 22px;
  margin-bottom: 10px;
}
.quiz__qestions p {
  font-size: 14px;
}
.quiz__qestions input[type="radio"] {
  display: none;
}
.quiz__qestions label {
  font-size: 14px;
  font-family: 'Montserrat-Medium', sans-serif;
  color: #000;
  text-align: center;
  position: relative;
  cursor: pointer;
}
.quiz__qestions label img {
  display: block;
  margin: 0px auto;
  margin-bottom: 10px;
}
.quiz__qestions label:before {
  content: '';
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  background-color: #c0c0c0;
  background-image: url(../img/icons/ok.png);
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
}
.quiz__qestions input:checked + label:before {
  background-color: #c6b899;
}
.quiz__qestions .question {
  display: none;
}
.quiz__qestions .question:first-child {
  display: block;
}
.quiz__qestions .quiz-card img {
  background: linear-gradient(90deg, #c6b899, #a99d82);
  border-radius: 5px;
}
.quiz__content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 40px;
  grid-row-gap: 20px;
  margin-top: 30px;
}
.quiz__content-wide {
  grid-template-columns: repeat(2, 1fr);
}
.quiz__content button.quiz-btn {
  width: 190px;
  height: 80px;
  position: absolute;
  bottom: 30px;
  right: 70px;
  display: none;
}
.quiz__content input:checked ~ button.quiz-btn {
  display: block;
}
.quiz__content .label-text {
  padding-top: 50px;
}
.quiz__info {
  height: 100%;
  width: 360px;
  background: linear-gradient(90deg, #c6b899, #a99d82);
  padding: 40px 40px;
}
.quiz__info span {
  display: block;
  max-width: 250px;
}
.quiz__info span.info {
  font-family: 'Montserrat-Medium', sans-serif;
}
.quiz__info span.rules {
  margin-top: 80px;
  padding-top: 30px;
  font-size: 14px;
  border-top: 3px solid #fff;
}
.quiz .quiz__form {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.quiz .quiz__form h4 {
  text-align: center;
  max-width: 400px;
}
.quiz .quiz__form-soc {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 320px;
}
.quiz .quiz__form label {
  width: 100px;
  height: 80px;
  background: #cbcecd;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quiz .quiz__form label img {
  display: block;
  margin-bottom: 0;
}
.quiz .quiz__form label:before {
  display: none;
}
.quiz .quiz__form input:checked + label {
  background: linear-gradient(90deg, #c6b899, #a99d82);
}
.quiz__close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.quiz__close span {
  width: 30px;
  height: 2px;
  background: #cbcecd;
  border-radius: 20px;
  margin: 6px 0px;
}
.quiz__close span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.quiz__close span:nth-child(2) {
  transform: translateY(-7px) rotate(-45deg);
}
.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
}
.popup__body {
  width: 500px;
  height: 600px;
  padding: 70px;
  background: #fff;
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.popup__body h4 {
  color: #000;
  font-family: 'Montserrat-Medium', sans-serif;
  font-size: 22px;
}
.popup__body p {
  color: #000;
  margin-top: 10px;
  text-align: center;
  margin-bottom: 30px;
}
.popup__body input {
  margin-bottom: 20px;
}
.popup__close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.popup__close span {
  width: 30px;
  height: 2px;
  background: #cbcecd;
  border-radius: 20px;
  margin: 6px 0px;
}
.popup__close span:nth-child(1) {
  transform: translateY(7px) rotate(45deg);
}
.popup__close span:nth-child(2) {
  transform: translateY(-7px) rotate(-45deg);
}
.open {
  display: block;
}
@media (max-width: 1200px) {
  .container {
    max-width: none;
    padding: 0px 10px;
  }
}
@media (max-width: 768px) {
  a.button {
    background: linear-gradient(90deg, #c6b899, #a99d82);
    position: relative;
  }
  button.button {
    background: linear-gradient(90deg, #c6b899, #a99d82);
    border: none;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 10px;
    text-transform: uppercase;
    cursor: pointer;
  }
  input.text {
    border: none;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    font-family: 'Montserrat-Regular', sans-serif;
    text-align: center;
    background: #f5f5f5;
    color: #000;
    outline: none;
  }
  .header__logo img {
    margin-right: 30px;
  }
  .header__logo span {
    display: none;
  }
  .header__phone a {
    padding: 20px 30px 20px 50px;
  }
  .header__phone a:after {
    left: 20px;
  }
  .main {
    background: url(../img/mainbg.jpg) no-repeat 45% 0%;
    background-size: cover;
  }
  .main__wrapper {
    min-height: 600px;
  }
  .main h1 {
    padding-top: 80px;
    font-size: 28px;
    max-width: none;
    line-height: 150%;
  }
  .main h2 {
    font-size: 20px;
    line-height: 150%;
  }
  .main .circle {
    display: none;
    position: absolute;
    bottom: -60px;
    left: 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background: #c6b899;
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: 13px;
  }
  .main span.trigger {
    display: inline-block;
    width: 25px;
    position: absolute;
    transform: translate(47px, 52px) rotate(var(--rot)) translate(0, -80px);
  }
  .nav {
    margin-top: 80px;
  }
  .nav__wrapper ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
  }
  .nav__wrapper ul li a {
    width: 100%;
    height: 60px;
  }
  .nav__wrapper ul li:nth-child(5) {
    grid-column-start: span 2;
  }
  .nav__wrapper ul li:nth-child(5) button {
    width: 100%;
    height: 80px;
  }
  .advantage {
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .advantage__wrapper {
    grid-template-columns: 1fr;
    grid-gap: 50px;
  }
  .advantage__cards {
    grid-column-gap: 30px;
    grid-row-gap: 30px;
  }
  .advantage__card {
    font-size: 12px;
    line-height: 150%;
  }
  .advantage__card img {
    display: block;
    margin-bottom: 20px;
  }
  .advantage__banner {
    margin-left: 0px;
    height: 180px;
    padding: 0px 30px;
  }
  .advantage__banner-num {
    font-family: 'Pobeda', sans-serif;
    font-size: 150px;
  }
  .advantage__banner-text {
    font-size: 1em;
    line-height: 150%;
  }
  .advantage__banner-text span {
    margin-top: 10px;
  }
  .manager {
    margin-bottom: 80px;
  }
  .manager__wrapper {
    grid-template-columns: 100%;
    grid-template-rows: 300px 500px;
  }
  .manager__info {
    margin-top: 80px;
  }
  .manager__info h3 {
    font-size: 20px;
    line-height: 150%;
  }
  .manager__info h3 span {
    font-size: 20px;
  }
  .manager__info a.button {
    width: 300px;
    height: 80px;
    margin-top: 30px;
  }
  .manager__info a.button:before {
    right: 60px;
  }
  .manager__image {
    background: url(../img/manager.png) no-repeat left bottom;
    background-size: contain;
  }
  .manager__bage {
    bottom: 100px;
    left: 80px;
  }
  .manager .shild {
    top: 20px;
    transform: translateY(0%);
  }
  .house h3 {
    font-size: 24px;
    margin-bottom: 50px;
  }
  .house h3 span {
    margin-right: 0px;
  }
  .house__wrapper {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-column-gap: 0px;
    grid-row-gap: 30px;
  }
  .house__box-image img {
    display: block;
    max-width: 100%;
  }
  .house__box-image .image-line {
    padding: 20px 10px;
    font-size: 10px;
  }
  .house__box-image .image-line span.name {
    font-size: 12px;
    margin-bottom: 5px;
  }
  .house__box-image .image-line:nth-child(2) {
    top: 10px;
    left: 0;
  }
  .house__box-image .image-line:nth-child(3) {
    bottom: 10px;
    right: 0;
  }
  .house__box-bottom {
    grid-template-columns: 1fr;
  }
  .house__box-char {
    border-left: none;
    height: 90px;
    align-items: flex-start;
    padding-left: 100px;
  }
  .house__box-btn {
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
  }
  .house__box-btn a.button {
    width: 300px;
    height: 80px;
  }
  .house__box-btn a.online {
    margin-top: 20px;
  }
  .contacts__wrapper {
    min-height: 800px;
  }
  .contacts__wrapper h3 {
    font-size: 22px;
    line-height: 150%;
    max-width: none;
    margin-bottom: 50px;
  }
  .contacts__content {
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 30px;
  }
  .contacts__content .shild {
    grid-row-start: 1;
  }
  .contacts__content button.button {
    width: 300px;
    margin: 0px auto;
  }
  .quiz {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    display: none;
  }
  .quiz__body {
    width: 1160px;
    height: 600px;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .quiz__qestions {
    height: 100%;
    width: 780px;
    background: #fff;
    padding: 30px 70px;
    position: relative;
    overflow: hidden;
  }
  .quiz__qestions h4,
  .quiz__qestions p {
    color: #000;
  }
  .quiz__qestions h4 {
    font-family: 'Montserrat-Bold', sans-serif;
    font-size: 22px;
    margin-bottom: 10px;
  }
  .quiz__qestions p {
    font-size: 14px;
  }
  .quiz__qestions input[type="radio"] {
    display: none;
  }
  .quiz__qestions label {
    font-size: 14px;
    font-family: 'Montserrat-Medium', sans-serif;
    color: #000;
    text-align: center;
    position: relative;
    cursor: pointer;
  }
  .quiz__qestions label img {
    display: block;
    margin: 0px auto;
    margin-bottom: 10px;
  }
  .quiz__qestions label:before {
    content: '';
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #fff;
    background-color: #c0c0c0;
    background-image: url(../img/icons/ok.png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
  }
  .quiz__qestions input:checked + label:before {
    background-color: #c6b899;
  }
  .quiz__qestions .question {
    display: none;
  }
  .quiz__qestions .question:first-child {
    display: block;
  }
  .quiz__qestions .quiz-card img {
    background: linear-gradient(90deg, #c6b899, #a99d82);
    border-radius: 5px;
  }
  .quiz__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    grid-column-gap: 40px;
    grid-row-gap: 20px;
    margin-top: 30px;
  }
  .quiz__content-wide {
    grid-template-columns: repeat(2, 1fr);
  }
  .quiz__content button.quiz-btn {
    width: 190px;
    height: 80px;
    position: absolute;
    bottom: 30px;
    right: 70px;
    display: none;
  }
  .quiz__content input:checked ~ button.quiz-btn {
    display: block;
  }
  .quiz__content .label-text {
    padding-top: 50px;
  }
  .quiz__info {
    height: 100%;
    width: 360px;
    background: linear-gradient(90deg, #c6b899, #a99d82);
    padding: 40px 40px;
  }
  .quiz__info span {
    display: block;
    max-width: 250px;
  }
  .quiz__info span.info {
    font-family: 'Montserrat-Medium', sans-serif;
  }
  .quiz__info span.rules {
    margin-top: 80px;
    padding-top: 30px;
    font-size: 14px;
    border-top: 3px solid #fff;
  }
  .quiz .quiz__form {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .quiz .quiz__form h4 {
    text-align: center;
    max-width: 400px;
  }
  .quiz .quiz__form-soc {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 320px;
  }
  .quiz .quiz__form label {
    width: 100px;
    height: 80px;
    background: #cbcecd;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .quiz .quiz__form label img {
    display: block;
    margin-bottom: 0;
  }
  .quiz .quiz__form label:before {
    display: none;
  }
  .quiz .quiz__form input:checked + label {
    background: linear-gradient(90deg, #c6b899, #a99d82);
  }
  .quiz__close {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .quiz__close span {
    width: 30px;
    height: 2px;
    background: #cbcecd;
    border-radius: 20px;
    margin: 6px 0px;
  }
  .quiz__close span:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
  }
  .quiz__close span:nth-child(2) {
    transform: translateY(-7px) rotate(-45deg);
  }
  .popup__body {
    width: 95%;
    height: 600px;
    padding: 50px;
    text-align: center;
  }
  .popup__body h4 {
    font-size: 18px;
  }
  .popup__body p {
    font-size: 14px;
  }
  .popup__body input {
    margin-bottom: 20px;
  }
}
